<!DOCTYPE html>
<html>
  <head>
    <title>Cosc415Bookapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
  </head>

  <body>
    <div id="flash" class="alert alert-primary hidden">
    </div>
    <% if flash[:notice] %>
      <div class="alert alert-primary">
        <%= "#{flash[:notice]}" %>
      </div>
    <% end %>

    <% if flash[:warning] %>
      <div class="alert alert-warning">
        <%= "#{flash[:warning]}" %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
